
/* img {
  height: 200px;
} */ 

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 35px;
  color: white;
}

h3 {
  margin-bottom: 5px;
  font-size: 25px;
  color: black;
  font-weight: bolder;
}

.card-body{
  text-align: center;
  /* background-color: rgb(133, 177, 192); */
  background-color: rgb(45, 79, 143);
  height: 100%;
  border: 2px solid white; 
  
  
} 


#quiz-box {
  position: relative;
  top: 15%;
}

button {
  display: block;
  width: 40%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
  background-color: palevioletred;
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}

button:hover {
  background: rgb(197, 225, 235);
  border-radius: 60%;
}

button:focus {
  outline: 0;
}

#start {
  margin-top: 20%;
  background: white;
  border: 3px solid palevioletred;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0 20px 4px;
}

#start:hover {
  background: rgb(197, 225, 235);
  /* border-radius: 60%; */
  border: 3px solid white;
}

.size-image{
  height: 200px;
}


/* The Footer*/
.fixed-bottom {
background-color: pink;
}








